html, body {
    height: 100%;

}
body{
    background: #000;
    color: #FFF;
    font: 13px 'Trebuchet MS', 'Calibri', 'Droid Sans', sans-serif;
    margin: 0;
    position: relative;
}
header, section, footer {
    display:block;
}

h1 {
    font-size: 150%;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
li {
    margin: 0;
    padding: 0;
}
header {
    overflow: hidden;
    padding: 0 4em ;
}
section {
    background: #FFF;
    color: #333;
    padding: 2em;
}

footer {
    padding: 0.5em 4em ;
    font-size: 80%;
    overflow: hidden;
}
footer p {
    padding:0.5em 1em ;
    margin: 0;
}
footer a {
    text-decoration: none;
    color: #FFF;
}

#logo {
    float: left;
    margin: 0.5em 0;
    z-index: 9999;
}
#logo a {
    text-decoration: none;
    display:block;
    background:url(/media/logo-trans.png) no-repeat;
    text-indent: -9999px;
    height:2.5em;
    width: 6.5em;
}
#nav {
    float: right;
    padding: 0;
    margin: 2em 0;
    position: relative;
    width: 70%;
}
#nav li {
    float: left;
    margin: 0 0 0 3em;
    padding: 0;
}
#nav a {
    display: block;
    text-transform: lowercase;
    color: #FFF;
}
#nav a:hover {
    color: #F9AF43;
}
#nav .selected {
    color: #F9AF43;
}

#nav ul {
    float:none;
    padding:0;
    position: absolute;
    top: 2em;
}
#nav ul li {
    margin: 0 2em 0 0;
}
#nav ul a {
    text-decoration: none;
}
#colophon {
    clear:left;
    float:left;
}
#credit {
    float: right;
    background: url(pojo.png) no-repeat;
    padding: 4px 4px 4px 22px ;
}
#credit a {
    color: #FFF;
    display: block;

}
#description {
    position: absolute;
    right: 1em;
    width: 30%;
    padding: 1em;
}
#display {
    list-style: none;
    text-align: center;
    position: relative;
    height: 626px;

}
#display li {
    margin: 0 auto;
    position: absolute;
    top: 0;
    width:100%;
}
#display img {
    border: 13px solid #FFF;
}
#pictures {
    overflow: hidden;
    padding: 0.5em;
    margin: 0;
    width: 100%;
    
}
#thumb-list {
    position: fixed;
    bottom: 2.5em;
} 
.thumb {
    float: left;
    margin: 0 0.25em;
}
.thumb a {
    display:block;
    width:30px;
    overflow: hidden;
    border: 2px solid transparent;
}
.thumb a.selected{
    border: 2px solid #EEE;
}
.thumb a img {
    border:0;
}
/* sections */
#bio {
    background: #FC0;
}

#home {
    background: #000;
}


/* forms */
form {
    padding: 1em;
}
label {
    display:block;
}

