html, body {
    height: 100%;

}
body{
    background: #000;
    color: #FFF;
    font: 13px 'Trebuchet MS', 'Calibri', 'Droid Sans', sans-serif;
    margin: 0;
    position: relative;
}
header, section, footer {
    display:block;
}

h1 {
    font-size: 150%;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
li {
    margin: 0;
    padding: 0;
}
header {
    position: absolute;
    width: 100%;
    background: rgba(0,0,0,0.5);
    overflow: hidden;
    padding: 1em 0;
}
header a {
    color: #FFF;
}
section {
    background: #FFF;
    color: #333;
    padding:0;
    height: 100%;
}
section div {
    padding: 6em 2em 0;
}
footer {
    position: fixed;
    bottom:0;
    width:100%;
    background: rgba(0,0,0,0.5);
    font-size: 80%;
}
footer p {
    padding:0.5em 1em ;
    margin: 0;
}
footer a {
    text-decoration: none;
    color: #FFF;
}

#logo {
    position: absolute;
    top:0;
    left: 0;
    padding: 0 1em;    
    z-index: 9999;
}
#logo a {
    text-decoration: none;
    display:block;
    background:url(/media/logo-trans.png) no-repeat;
    text-indent: -9999px;
    height:2.5em;
    width: 10em;
}
#nav {
    float: left;
    padding: 0;
    width: 70%;
    margin: 1em 1em 1em 15em;
    position: relative;
}
#nav li {
    float: left;
    margin: 0 3em;
    padding: 0;
}
#nav a {
    display: block;
    text-transform: lowercase;
}
#nav a:hover {
    color: #F9AF43;
}
#nav .selected {
    color: #F9AF43;
}

#nav ul {
    float:none;
    padding:0;
    position: absolute;
    top: 2em;
}
#nav ul li {
    margin: 0 2em 0 0;
}
#nav ul a {
    text-decoration: none;
}

#display {
    z-index: -5;
    width:100%;
    height:100%;
    overflow: hidden;
    text-align: center;
    background: #000;
    margin: 0;
    list-style: none;
}
.home li{
    width:100%;
}
.album li{
    margin: 0 auto;
    height: 80%;
    width: 80%;
    padding: 4em ;

    text-align: center;
    
}
.album img {
    border: 1em solid #FFF;
}
#pictures {
    overflow: hidden;
    padding: 0.5em;
    margin: 0;
    width: 100%;
    
}
#pictures li {
    float: left;
    margin: 0 0.25em;
}
#pictures a {
    display:block;
    width:30px;
    overflow: hidden;
    border: 2px solid transparent;
}
#pictures a.selected{
    border: 2px solid #EEE;
}
#pictures a img {
    border:0;
}

#credit {
    position: absolute;
    bottom: 0;
    right: 0;
    height:40px;
    width: 30px;
}
#credit a {
    color: #FFF;
    display: block;
    background: url(pojo.png) no-repeat;
    height:40px;
    width: 30px;
    text-indent: -9999px;
    
}
/* sections */
#bio {
    background: #FC0;
}
/* forms */
form {
    padding: 1em;
}
label {
    display:block;
}

