{% extends 'layout.html' %}
{% block wrapper_class %}album{% endblock %}
{% block onload %}
            function fadeHeader(){
                $('.fade').fadeOut('slow');
                console.log('faded');
            };
            window.setTimeout(fadeHeader, 1000)
            $('.text').lousyField()
            $('form').submit(function(){
                $(this).find('.text').noCrap()
            })
            $('.fade-wrapper').hover(function(){
               $('.fade').fadeIn();
            }, function(){
               $('.fade').fadeOut('slow');
            })
            
{% endblock %}
{% block section_album %}
    <ul>
    {% for album in albums %}
    <li><a href="/album/{{album.id}}">{{loop.index}}</a></li> 
    {% endfor %}
    </ul>
{% endblock %}
{% block content %}
<section>
<div>
    <div id="description">
    <div id="content">
    <p><strong>"{{album.name}}"</strong> {{album.description}}</p>        
    </div>
    <a href="#ocultar" class="handle">ocultar</a>
    </div>
    <ul id="display">
    {% for picture in pictures %}
    <li id="{{picture.id}}" {% if loop.first %}class="selected"{% endif %}><img src="/picture/{{picture.id}}?height=600" alt="{{picture.id}}" height="100%"/></li>
    {% endfor %}
    </ul>
</div>
</section>
<ul id="thumb-list">
    {% for picture in pictures %}
    <li class="thumb">
        <a href="#{{picture.id}}" ><img src="/picture/{{picture.id}}?height=30" alt="{{picture.id}} - {{album.name}}" /></a>
    </li>
    {% endfor %}
</ul>
{% endblock %}

