<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset=utf-8" />
    <title>Vaivendo - imagens {{title}}</title>
    <link rel="stylesheet" href="/media/style.css" type="text/css" media="screen" />
    <script type="text/javascript" language="javascript" src="/media/jquery.js"></script>
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
        </script>
    <![endif]-->
    <script type="text/javascript" language="javascript">
        $(document).ready(function(){
            $('#add-picture-field').click(function(){
                file_input = $('input[type="file"]:first').clone();
                $(file_input).val('');
                $('#pictures').append(file_input);
                $('#pictures').append($('<br />'));
                return false;
            })
        })
    </script>
</head>
<body>

<form action="/album/" enctype="multipart/form-data" method="post">
    <p><label for="name">Name</label><input type="text" name="name" value="{{#album}}{{name}}{{/album}}"/></p>
    <p><label for="description">Description</label><textarea name="description" rows="8" cols="40">{{#album}}{{description}}{{/album}}</textarea></p>
    <dl>
        <dt><label for="picture[]">Pictures:</label></dt>
        <dd id="pictures">
            {{#pictures}}<input type="file" name="picture[]" value="{{image}}" /><br />{{/pictures}}
            {{^pictures}}<input type="file" name="picture[]" value="{{image}}" /><br />{{/pictures}}
        </dd>
        <dd>
        <a href="#" id="add-picture-field">Add another</a>
        </dd>
    </dl>
    <p><input type="submit" value="Save" /></p>
</form>

</body>
