<section>
<div id="album_form">
<h1>{{#album}}Editando: {{name}}{{/album}}{{^album}}Novo album{{/album}}</h1>

<form action="/album/{{#album}}?id={{id}}{{/album}}" enctype="multipart/form-data" method="post">
    <p><label for="name">Name</label><input type="text" name="name" value="{{#album}}{{name}}{{/album}}"/></p>
        <p><label for="section">Section</label><input type="text" name="section" value="{{#album}}{{section}}{{/album}}"/></p>
    <p><label for="description">Description</label><textarea name="description" rows="8" cols="40">{{#album}}{{description}}{{/album}}</textarea></p>
    <dl>
        <dt><label for="picture[]">Pictures:</label></dt>
        <dd id="album-pictures">
            {{#pictures}}<img src='/picture/{{id}}?width=150'> <input type="checkbox" name="delete-picture[]" value="{{id}}" /> delete <br />{{/pictures}}
            <input type="file" name="picture[]" value="{{image}}" /><br />
        </dd>
        <dd>
        <a href="#" id="add-picture-field">Add another</a>
        </dd>
    </dl>
    <p><input type="submit" value="Save" /></p>
</form>
    
</div>
</section>
