{% extends 'layout.html' %}
{% block wrapper_class %}
form
{% endblock %}
{% block css %}
<style type="text/css" media="screen">
    body {
        overflow: auto;
    }
</style>

{% endblock %}
{% block content %}
<section>
<div id="album_form">

<h1>{% if album %}Editando: {{album.name}}{% else %}Novo album{% endif %}</h1>

<form action="/album/{% if album %}?id={{album.id}}{% endif %}" enctype="multipart/form-data" method="post">
    <p><label for="name">Name</label><input type="text" name="name" value="{{album.name}}"/></p>
        <p><label for="section">Section</label><input type="text" name="section" value="{{album.section}}"/></p>
    <p><label for="description">Description</label><textarea name="description" rows="8" cols="40">{{album.description}}</textarea></p>
    <dl>
        <dt><label for="picture[]">Pictures:</label></dt>
        <dd id="album-pictures">
            {% for picture in pictures %}
            <img src='/picture/{{picture.id}}?width=150'> <input type="checkbox" name="delete-picture[]" value="{{picture.id}}" /> delete <br />                
            {% endfor %}
            <input type="file" name="picture[]" value="" /><br />
        </dd>
        <dd>
        <a href="#" id="add-picture-field">Add another</a>
        </dd>
    </dl>
    <p><input type="submit" value="Save" /></p>
</form>
    
</div>
</section>
{% endblock %}
