{% extends 'layout.html' %}
{% block wrapper_class %}
bio
{% endblock %}
{% block content %}

<section id="bio">
<h1>AUTOR / A LOJA</h1>
    <blockquote>
    “Cada um lê com os olhos que tem.<br /> E interpreta a partir de onde os pés pisam.”
    <em>Leonardo Boff</em>
    </blockquote>
<p>
Baseado na simultaneidade entre trabalho, estudo e lazer, centrado mais no crescente tempo livre do que no tempo decrescente dedicado ao trabalho, e com o objetivo maior de imprimir e expor todas as minhas imagens, a Vai-vendo imagens foi criada a partir do primeiro ano em que morei em Jericoacoara, 2007. Para vender uma coleção de postais p&b, fotografias em papel fotográfico e quadros, todos de cunha autoral.
Colocando em prática esses princípios os resultados surpreenderam. A Vai-vendo é referência de imagens feitas com identidade sendo um dos espaços mais apreciados dentro da vila,  por amantes de fotografias, artes, bate- papo, boemia e assuntos aleatórios. Mas surpreso fiquei mesmo, foi com a relação com os clientes, criamos afinidade, clientes que conheço pelo nome e que deixam seus contatos e recados no caderno de visitas, demonstrando o quanto essa troca tem valor a cada dia.
</p>
<p>
Para que não nos distanciamos, tanto os que já vieram aqui quanto os que conheci através do site, que venham pra jeri, vivenciar o dia a dia da vila, tentar ser um “morador” mesmo que por poucos dias, para sentir o que jeri é para nós que moramos aqui, esse é o maior desejo da vai-vendo, fazer novos amigos e transmitir através das imagens essa forma diferenciada de ver e viver a vida.
</p>
<blockquote>Regivaldo Freitas (Regi) Fotografo</blockquote>
</section>
{% endblock %}
