<section>
<h1>Deixe un mensagem</h1>
<form action="." method="post">
    <p><label for="name">Nomem</label><input type="text" name="name" value="" /></p>
    <p><label for="email">Email</label><input type="text" name="email" value="" /></p>
    <p><label for="subject">Asunto</label><input type="text" name="asunto" value="" /></p>
    <p><label for="message">Mensagem</label><textarea name="message" rows="8" cols="40"></textarea></p>
    <p><input type="submit" value="Enviar" /></p>
</form>
</section>
