{% extends 'layout.html' %}
{% block wrapper_class %}
contact
{% endblock %}
{% block content %}
<section>
<div>
<blockquote>
Todas as imagens estão a venda em papel fotográfico, monóculos, postais e quadros, a Vai-Vendo não vende arquivo digital, faz bem para todos.
</blockquote>
<p>Venden monoculos, fotos impresas, cuadros, libros de fotos<br />
Beco Doce. Jericocoara, Ceará – Brasil<br />
Fone: (88) 9970-2158 . E-mail: vaivendojeri@gmail.com</p>
    <h1>Deixe un mensagem</h1>
    <form action="." method="post">
    <ul>
        <li><input type="text" name="email" value="Email" class="text" placeholder="Email"/></li>
        <li><textarea name="message" rows="8" cols="40" class="text" placeholder="Mensagem">Mensagem</textarea></li>
        <li><input type="submit" value="Enviar" /></li>
    </ul>
    </form>
</div>
</section>
{% endblock %}

