{% extends 'layout.html' %}
{% block wrapper_class %}home{% endblock %}
{% block onload %}
            function fadeHeader(){
                $('.fade').fadeOut('slow');
                console.log('faded');
            };
            window.setTimeout(fadeHeader, 1000)
            $('.text').lousyField()
            $('form').submit(function(){
                $(this).find('.text').noCrap()
            })
            $('.fade-wrapper').hover(function(){
               $('.fade').fadeIn();
            }, function(){
               $('.fade').fadeOut('slow');
            })
{% endblock %}
{% block content %}
<div>
<ul id="cycle">
    {% for picture in pictures %}
    <li id="{{id}}"><img src="/picture/{{picture.id}}?height=800" alt="{{picture.id}}" width="100%;" /></li>
    {% endfor %}
</ul>
</div>
{% endblock %}

