<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset="utf-8" />
    <title>Vaivendo - imagens {{title}}</title>
    <link rel="stylesheet" href="/media/style.css" type="text/css" media="screen" />
    {% block css %}{% endblock %}
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/media/jquery.js"></script>
    <script type="text/javascript" src="/media/cycle.js"></script>
    <script type="text/javascript" src="/media/scrollTo.js"></script>
    <script type="text/javascript" src="/media/forms.js"></script>
    <script type="text/javascript" src="/media/scripts.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-21019750-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    {% block js %}{% endblock %}
    
</head>
<body>
    <div id="wrapper" class="{% block wrapper_class %}{% endblock %}">
    <h1 id="logo"><a href="/">Viaivendo imagens</a></h1>
    <header class="fade-wrapper">
    <div id="header-wrapper" class="fade">
    <ul id="nav">
        {% block nav %}
        <li><a href="/vaivendo/" {% if section == 'shop' %}class="selected"{% endif %}>V a i v e n d o</a>
            {% if section_shop %}
            <ul>
            <li><a href="/vaivendo/shop">a loja</a></li>
            <li><a href="/vaivendo/autor" >Autor</a></li>
            </ul>
            {% endif %}
        </li>
        <li><a href="/album/" {% if section == 'album' %}class="selected"{% endif %} >G a l e r i a s</a>
            {% block section_album %}
            {% endblock %}
        </li>

        <li><a href="/contato" {% if section == 'contact' %}class="selected"{%  endif %}>C o n t a t o</a></li>        
        {% endblock %}

    </ul>
        
    </div>
    </header>
    {% block content %}
    {% endblock %}
    </div>
    
    <footer class="fade-wrapper"> 
        {% block footer %}
        {% endblock %}
        <div id="footer-wrapper" class="fade">
        <div id="colophon">Vaivendo, de Regivaldo Freitas - Jericoacoara, Ceará, Brasil</div>
        <div id="credit"><a href="http://potajecreativo.com.ar/">potaje creativo</a></div>
        </div>
    </footer>
</body>
</html>
