<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset="utf-8" />
    <title>Vaivendo - imagens {{title}}</title>
    <link rel="stylesheet" href="/media/style.css" type="text/css" media="screen" />
    <script type="text/javascript" language="javascript" src="/media/jquery.js"></script>
    <script type="text/javascript" language="javascript" src="/media/cycle.js"></script>
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
        </script>
    <![endif]-->
    <script type="text/javascript" language="javascript">
        $(document).ready(function(){
            $('#add-picture-field').click(function(){
                file_input = $('input[type="file"]:first').clone();
                $('#album-pictures').append(file_input)
                              .append($('<br />'));
                $(file_input).val('')
                             .focus();
                return false;
            });
            $("#display.home").cycle({fx: 'fade'});
        })
    </script>
</head>
<body>
    <header>
    <h1 id="logo"><a href="/">Viaivendo imagens</a></h1>
    <ul id="nav">
        <li><a href="/vaivendo/" {{#section_shop}}class="selected"{{/section_shop}}>V a i v e n d o</a>
          {{#section_shop}}<ul>{{#albums}}<li><a href="/vaivendo/{{slug}}">{{name}}</a></li>{{/albums}}</ul>{{/section_shop}}
        </li>
        <li><a href="/album/" {{#section_albums}}class="selected"{{/section_albums}} >G a l e r i a s</a>
          {{#section_albums}}<ul>{{#albums}}<li><a href="/album/{{id}}">{{name}}</a></li>{{/albums}}</ul>{{/section_albums}}
        </li>
        <li><a href="/autor" {{#section_bio}}class="selected"{{/section_bio}}>A u t o r</a></li>
        <li><a href="/contato" {{#section_contact}}class="selected"{{/section_contact}}>C o n t a t o</a></li>
    </ul>
    </header>
    {{>content}}
    <footer> 
            <ul id="thumb-list">
            {{#thumbs}}
            <li class="thumb">
                <a href="#{{id}}" ><img src="/picture/{{id}}?height=30" alt="{{id}} - {{name}}" /></a>
            </li>
            {{/thumbs}}
            </ul>
        <p id="colophon">Vaivendo, de Regivaldo Freitas - Jericoacoara, Ceará, Brasil</p>
        <p id="credit"><a href="http://pojatecreativo.com.ar">potaje creativo</a></p>
    </footer>
</body>
</html>
