<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset="utf-8" />
    <title>Vaivendo - imagens {{title}}</title>
    <link rel="stylesheet" href="/media/style.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/media/jquery.js"></script>
    <script type="text/javascript" src="/media/cycle.js"></script>
    <script type="text/javascript" src="/media/forms.js"></script>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block css %}{% endblock %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#add-picture-field').click(function(){
                file_input = $('input[type="file"]:first').clone();
                $('#album-pictures').append(file_input)
                              .append($('<br />'));
                $(file_input).val('')
                             .focus();
                return false;
            });
            $("#cycle").cycle({
                fx:   'fade',
            });
            $('#description .handle').click(function(){
                $('#description').toggleClass('collapsed');
                $('#content').toggle();
            });
            {% block onload %}
            {% endblock %}
        })
    </script>
</head>
<body>
    <div id="wrapper" class="{% block wrapper_class %}{% endblock %}">
    <h1 id="logo"><a href="/">Viaivendo imagens</a></h1>
    <header class="fade-wrapper">
    <div id="header-wrapper" class="fade">
    <ul id="nav">
        {% block nav %}
        <li><a href="/vaivendo/" {% if section_shop %}class="selected"{% endif %}>V a i v e n d o</a>
            {% if section_shop %}
            <ul>
            <li><a href="/vaivendo/shop">a loja</a></li>
            <li><a href="/vaivendo/autor" >Autor</a></li>
            </ul>
            {% endif %}
        </li>
        <li><a href="/album/" {% if section_album%}class="selected"{% endif %} >G a l e r i a s</a>
            {% block section_album %}
            {% endblock %}
        </li>

        <li><a href="/contato" {% if section_contact %}class="selected"{%  endif %}>C o n t a t o</a></li>        
        {% endblock %}

    </ul>
        
    </div>
    </header>
    {% block content %}
    {% endblock %}
    <div id="push"></div>
    </div>
    
    <footer class="fade-wrapper"> 
        {% block footer %}
        {% endblock %}
        <div id="footer-wrapper" class="fade">
        <div id="colophon">Vaivendo, de Regivaldo Freitas - Jericoacoara, Ceará, Brasil</div>
        <div id="credit"><a href="http://potajecreativo.com.ar/">potaje creativo</a></div>
        </div>
    </footer>
</body>
</html>
