{% extends 'layout.html' %}
{% block wrapper_class %}shop{% endblock %}
{% block content %}
<section class="nopadding">
<div>
    <ul id="display">
    {% for picture in pictures %}
    <li id="{{picture.id}}" {% if loop.first %}class="selected"{% endif %}><img src="/picture/{{picture.id}}?height=600" alt="{{picture.id}}" height="100%"/></li>
    {% endfor %}
    </ul>
</div>
</section>
<ul id="thumb-list">
    {% for picture in pictures %}
    <li class="thumb">
        <a href="#{{picture.id}}" ><img src="/picture/{{picture.id}}?height=30" alt="{{picture.id}} - {{album.name}}" /></a>
    </li>
    {% endfor %}
</ul>

{% endblock %}

